<%- include('../includes/head/index.ejs') %>
<body>
    <div id="wrapper" class="is-collapse is-active">
        <!-- === HEADER - START === -->
        <%- include('../includes/header/index.ejs') %>
        <!-- === HEADER - END === -->

        <!-- === BIG IMAGE - PARRALAX DAPAT ITO - START === -->
        <div class="main_content_custom">
            <div
                class="w-full lg:h-96 h-52 bg-cover flex justify-center items-center relative"
                data-src="uploads/landing/un-flags.jpg"
                uk-img
            >
                <div class="text-center max-w-xl mx-auto z-10 relative">
                    <div class="lg:text-4xl text-2xl text text-white font-semibold mb-3">Every Trade</div>
                    <div class="lg:text-4xl text-2xl text text-white font-semibold mb-3">Every One</div>
                    <div class="lg:text-4xl text-2xl text text-white font-semibold mb-3">Every Where</div>
                    <div class="lg:text-4xl text-2xl text text-white font-semibold mb-3">Every Time</div>
                </div>
                <div class="absolute w-full h-full inset-0 bg-gray-900 bg-opacity-10"></div>
            </div>
        </div>
        <!-- === BIG IMAGE - PARRALAX DAPAT ITO - END === -->

        <!-- === EVENTS - START === -->
        <div class="mcontainer-custom-3 mt-10">
            <div class="flex justify-between relative md:mb-4 mb-3">
                <div class="flex-1">
                    <h2 class="text-2xl font-semibold">Events</h2>
                    <nav class="border-b"></nav>
                </div>
            </div>
            <div class="card lg:mx-0 uk-animation-slide-bottom-small my-4">
                <div uk-lightbox>
                    <div class="card-media h-40">
                        <div class="card-media-overly"></div>
                        <img src="uploads/promotions/promotions1.jpg" alt="" class="" />
                    </div>
                </div>
            </div>
            <div class="card lg:mx-0 uk-animation-slide-bottom-small my-4">
                <div uk-lightbox>
                    <div class="card-media h-40">
                        <div class="card-media-overly"></div>
                        <img src="uploads/promotions/promotions1.jpg" alt="" class="" />
                    </div>
                </div>
            </div>
            <div class="card lg:mx-0 uk-animation-slide-bottom-small my-4">
                <div uk-lightbox>
                    <div class="card-media h-40">
                        <div class="card-media-overly"></div>
                        <img src="uploads/promotions/promotions1.jpg" alt="" class="" />
                    </div>
                </div>
            </div>
            <div class="card lg:mx-0 uk-animation-slide-bottom-small my-4">
                <div uk-lightbox>
                    <div class="card-media h-40">
                        <div class="card-media-overly"></div>
                        <img src="uploads/promotions/promotions1.jpg" alt="" class="" />
                    </div>
                </div>
            </div>
            <div class="card lg:mx-0 uk-animation-slide-bottom-small my-4">
                <div uk-lightbox>
                    <div class="card-media h-40">
                        <div class="card-media-overly"></div>
                        <img src="uploads/promotions/promotions1.jpg" alt="" class="" />
                    </div>
                </div>
            </div>
            <div class="card lg:mx-0 uk-animation-slide-bottom-small my-4">
                <div uk-lightbox>
                    <div class="card-media h-40">
                        <div class="card-media-overly"></div>
                        <img src="uploads/promotions/promotions1.jpg" alt="" class="" />
                    </div>
                </div>
            </div>
            <div class="card lg:mx-0 uk-animation-slide-bottom-small my-4">
                <div uk-lightbox>
                    <div class="card-media h-40">
                        <div class="card-media-overly"></div>
                        <img src="uploads/promotions/promotions1.jpg" alt="" class="" />
                    </div>
                </div>
            </div>
            <div class="card lg:mx-0 uk-animation-slide-bottom-small my-4">
                <div uk-lightbox>
                    <div class="card-media h-40">
                        <div class="card-media-overly"></div>
                        <img src="uploads/promotions/promotions1.jpg" alt="" class="" />
                    </div>
                </div>
            </div>
            <div class="card lg:mx-0 uk-animation-slide-bottom-small my-4">
                <div uk-lightbox>
                    <div class="card-media h-40">
                        <div class="card-media-overly"></div>
                        <img src="uploads/promotions/promotions1.jpg" alt="" class="" />
                    </div>
                </div>
            </div>
            <div class="card lg:mx-0 uk-animation-slide-bottom-small my-4">
                <div uk-lightbox>
                    <div class="card-media h-40">
                        <div class="card-media-overly"></div>
                        <img src="uploads/promotions/promotions1.jpg" alt="" class="" />
                    </div>
                </div>
            </div>
        </div>
        <!-- === EVENTS - END === -->

        <!-- === TRADERS VIDEO - START === -->
        <div class="main_content_custom-4">
            <div class="mcontainer-custom-4">
                <div class="flex justify-between relative md:mb-4 mb-3">
                    <div class="flex-1">
                        <h2 class="text-2xl font-semibold">Traders Video</h2>
                        <nav class="border-b"></nav>
                    </div>
                </div>
                <!-- === TRADERS VIDEO SLIDES - START === -->
                <div class="relative" uk-slider="finite: true">
                    <div class="uk-slider-container px-1 py-3">
                        <ul
                            class="
                                uk-child-width-1-4@m uk-child-width-1-3@s uk-child-width-1-2 uk-grid-small uk-grid
                                mr-2
                            "
                        >
                            <li class="mb-10">
                                <a
                                    href="video-watch.html"
                                    class="w-full md:h-44 h-28 overflow-hidden rounded-lg relative block"
                                >
                                    <img
                                        src="uploads/traders-videos-thumbnail/1.jpg"
                                        alt=""
                                        class="w-full h-full absolute inset-0 object-cover"
                                    />
                                    <span
                                        class="
                                            absolute
                                            bg-black bg-opacity-60
                                            bottom-1
                                            font-semibold
                                            px-1.5
                                            py-0.5
                                            right-1
                                            rounded
                                            text-white text-xs
                                        "
                                    >
                                        12:21</span
                                    >
                                    <img
                                        src="assets/images/icon-play.svg"
                                        class="w-12 h-12 uk-position-center"
                                        alt=""
                                    />
                                </a>
                                <div class="pt-3">
                                    <a href="video-watch.html" class="font-semibold line-clamp-2">
                                        Traders Video 1.1
                                    </a>
                                    <div class="pt-2">
                                        <a href="#" href="video-watch.html" class="text-sm"> Traders Video 1.2 </a>
                                    </div>
                                </div>
                            </li>
                            <li class="mb-10">
                                <a
                                    href="video-watch.html"
                                    class="w-full md:h-44 h-28 overflow-hidden rounded-lg relative block"
                                >
                                    <img
                                        src="uploads/traders-videos-thumbnail/2.jpg"
                                        alt=""
                                        class="w-full h-full absolute inset-0 object-cover"
                                    />
                                    <span
                                        class="
                                            absolute
                                            bg-black bg-opacity-60
                                            bottom-1
                                            font-semibold
                                            px-1.5
                                            py-0.5
                                            right-1
                                            rounded
                                            text-white text-xs
                                        "
                                    >
                                        12:21</span
                                    >
                                    <img
                                        src="assets/images/icon-play.svg"
                                        class="w-12 h-12 uk-position-center"
                                        alt=""
                                    />
                                </a>
                                <div class="pt-3">
                                    <a href="video-watch.html" class="font-semibold line-clamp-2">
                                        Traders Video 2.1
                                    </a>
                                    <div class="pt-2">
                                        <a href="#" class="text-sm font-medium"> Traders Video 2.2</a>
                                    </div>
                                </div>
                            </li>
                            <li class="mb-10">
                                <a
                                    href="video-watch.html"
                                    class="w-full md:h-44 h-28 overflow-hidden rounded-lg relative block"
                                >
                                    <img
                                        src="uploads/traders-videos-thumbnail/3.jpg"
                                        alt=""
                                        class="w-full h-full absolute inset-0 object-cover"
                                    />
                                    <span
                                        class="
                                            absolute
                                            bg-black bg-opacity-60
                                            bottom-1
                                            font-semibold
                                            px-1.5
                                            py-0.5
                                            right-1
                                            rounded
                                            text-white text-xs
                                        "
                                    >
                                        12:21</span
                                    >
                                    <img
                                        src="assets/images/icon-play.svg"
                                        class="w-12 h-12 uk-position-center"
                                        alt=""
                                    />
                                </a>
                                <div class="pt-3">
                                    <a href="video-watch.html" class="font-semibold line-clamp-2">
                                        Traders Video 3.1
                                    </a>
                                    <div class="pt-2">
                                        <a href="#" class="text-sm font-medium"> Traders Video 3.2</a>
                                    </div>
                                </div>
                            </li>
                            <li class="mb-10">
                                <a
                                    href="video-watch.html"
                                    class="w-full md:h-44 h-28 overflow-hidden rounded-lg relative block"
                                >
                                    <img
                                        src="uploads/traders-videos-thumbnail/4.jpg"
                                        alt=""
                                        class="w-full h-full absolute inset-0 object-cover"
                                    />
                                    <span
                                        class="
                                            absolute
                                            bg-black bg-opacity-60
                                            bottom-1
                                            font-semibold
                                            px-1.5
                                            py-0.5
                                            right-1
                                            rounded
                                            text-white text-xs
                                        "
                                    >
                                        12:21</span
                                    >
                                    <img
                                        src="assets/images/icon-play.svg"
                                        class="w-12 h-12 uk-position-center"
                                        alt=""
                                    />
                                </a>
                                <div class="pt-3">
                                    <a href="video-watch.html" class="font-semibold line-clamp-2">
                                        Traders Video 4.1
                                    </a>
                                    <div class="pt-2">
                                        <a href="#" class="text-sm font-medium"> Traders Video 4.2</a>
                                    </div>
                                </div>
                            </li>
                            <li class="mb-10">
                                <a
                                    href="video-watch.html"
                                    class="w-full md:h-44 h-28 overflow-hidden rounded-lg relative block"
                                >
                                    <img
                                        src="uploads/traders-videos-thumbnail/5.jpg"
                                        alt=""
                                        class="w-full h-full absolute inset-0 object-cover"
                                    />
                                    <span
                                        class="
                                            absolute
                                            bg-black bg-opacity-60
                                            bottom-1
                                            font-semibold
                                            px-1.5
                                            py-0.5
                                            right-1
                                            rounded
                                            text-white text-xs
                                        "
                                    >
                                        12:21</span
                                    >
                                    <img
                                        src="assets/images/icon-play.svg"
                                        class="w-12 h-12 uk-position-center"
                                        alt=""
                                    />
                                </a>
                                <div class="pt-3">
                                    <a href="video-watch.html" class="font-semibold line-clamp-2">
                                        Traders Video 5.1
                                    </a>
                                    <div class="pt-2">
                                        <a href="#" class="text-sm font-medium">
                                            by <a href="#"> Traders Video 5.2 </a>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="mb-10">
                                <a
                                    href="video-watch.html"
                                    class="w-full md:h-44 h-28 overflow-hidden rounded-lg relative block"
                                >
                                    <img
                                        src="uploads/traders-videos-thumbnail/6.jpg"
                                        alt=""
                                        class="w-full h-full absolute inset-0 object-cover"
                                    />
                                    <span
                                        class="
                                            absolute
                                            bg-black bg-opacity-60
                                            bottom-1
                                            font-semibold
                                            px-1.5
                                            py-0.5
                                            right-1
                                            rounded
                                            text-white text-xs
                                        "
                                    >
                                        12:21</span
                                    >
                                    <img
                                        src="assets/images/icon-play.svg"
                                        class="w-12 h-12 uk-position-center"
                                        alt=""
                                    />
                                </a>
                                <div class="pt-3">
                                    <a href="video-watch.html" class="font-semibold line-clamp-2">
                                        Traders Video 6.1
                                    </a>
                                    <div class="pt-2">
                                        <a href="#" class="text-sm font-medium">
                                            by <a href="#"> Traders Video 6.2 </a>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="mb-10">
                                <a
                                    href="video-watch.html"
                                    class="w-full md:h-44 h-28 overflow-hidden rounded-lg relative block"
                                >
                                    <img
                                        src="uploads/traders-videos-thumbnail/7.jpg"
                                        alt=""
                                        class="w-full h-full absolute inset-0 object-cover"
                                    />
                                    <span
                                        class="
                                            absolute
                                            bg-black bg-opacity-60
                                            bottom-1
                                            font-semibold
                                            px-1.5
                                            py-0.5
                                            right-1
                                            rounded
                                            text-white text-xs
                                        "
                                    >
                                        12:21</span
                                    >
                                    <img
                                        src="assets/images/icon-play.svg"
                                        class="w-12 h-12 uk-position-center"
                                        alt=""
                                    />
                                </a>
                                <div class="pt-3">
                                    <a href="video-watch.html" class="font-semibold line-clamp-2">
                                        Traders Video 7.1
                                    </a>
                                    <div class="pt-2">
                                        <a href="#" class="text-sm font-medium">
                                            by <a href="#"> Traders Video 7.2 </a>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="mb-10">
                                <a
                                    href="video-watch.html"
                                    class="w-full md:h-44 h-28 overflow-hidden rounded-lg relative block"
                                >
                                    <img
                                        src="uploads/traders-videos-thumbnail/8.jpg"
                                        alt=""
                                        class="w-full h-full absolute inset-0 object-cover"
                                    />
                                    <span
                                        class="
                                            absolute
                                            bg-black bg-opacity-60
                                            bottom-1
                                            font-semibold
                                            px-1.5
                                            py-0.5
                                            right-1
                                            rounded
                                            text-white text-xs
                                        "
                                    >
                                        12:21</span
                                    >
                                    <img
                                        src="assets/images/icon-play.svg"
                                        class="w-12 h-12 uk-position-center"
                                        alt=""
                                    />
                                </a>
                                <div class="pt-3">
                                    <a href="video-watch.html" class="font-semibold line-clamp-2">
                                        Traders Video 8.1
                                    </a>
                                    <div class="pt-2">
                                        <a href="#" class="text-sm font-medium">
                                            by <a href="#"> Traders Video 8.2 </a>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- === TRADERS VIDEO SLIDES - END === -->
            </div>
        </div>
        <!-- === TRADERS VIDEO - END === -->

        <!-- === SPONSORS - START === -->
        <div class="main_content_custom-4">
            <div class="mcontainer-custom-4">
                <div class="flex justify-between relative md:mb-4 mb-3">
                    <div class="flex-1">
                        <h2 class="text-2xl font-semibold">Sponsors</h2>
                        <nav class="border-b"></nav>
                    </div>
                </div>
                <div class="relative" uk-slider="finite: true">
                    <div class="uk-slider-container px-1 py-3">
                        <ul
                            class="
                                uk-child-width-1-4@m uk-child-width-1-3@s uk-child-width-1-2 uk-grid-small uk-grid
                                mr-2
                            "
                        >
                            <li class="mb-10">
                                <a
                                    href="video-watch.html"
                                    class="w-full md:h-44 h-28 overflow-hidden rounded-lg relative block"
                                >
                                    <img
                                        src="uploads/sponsors/i.jpg"
                                        alt=""
                                        class="w-full h-full absolute inset-0 object-cover"
                                    />
                                </a>
                            </li>
                            <li class="mb-10">
                                <a
                                    href="video-watch.html"
                                    class="w-full md:h-44 h-28 overflow-hidden rounded-lg relative block"
                                >
                                    <img
                                        src="uploads/sponsors/ii.jpg"
                                        alt=""
                                        class="w-full h-full absolute inset-0 object-cover"
                                    />
                                </a>
                            </li>
                            <li class="mb-10">
                                <a
                                    href="video-watch.html"
                                    class="w-full md:h-44 h-28 overflow-hidden rounded-lg relative block"
                                >
                                    <img
                                        src="uploads/sponsors/3.png"
                                        alt=""
                                        class="w-full h-full absolute inset-0 object-cover"
                                    />
                                </a>
                            </li>
                            <li class="mb-10">
                                <a
                                    href="video-watch.html"
                                    class="w-full md:h-44 h-28 overflow-hidden rounded-lg relative block"
                                >
                                    <img
                                        src="uploads/sponsors/4.jpg"
                                        alt=""
                                        class="w-full h-full absolute inset-0 object-cover"
                                    />
                                </a>
                            </li>
                            <li class="mb-10">
                                <a
                                    href="video-watch.html"
                                    class="w-full md:h-44 h-28 overflow-hidden rounded-lg relative block"
                                >
                                    <img
                                        src="uploads/sponsors/5.png"
                                        alt=""
                                        class="w-full h-full absolute inset-0 object-cover"
                                    />
                                </a>
                            </li>
                            <li class="mb-10">
                                <a
                                    href="video-watch.html"
                                    class="w-full md:h-44 h-28 overflow-hidden rounded-lg relative block"
                                >
                                    <img
                                        src="uploads/sponsors/6.jpg"
                                        alt=""
                                        class="w-full h-full absolute inset-0 object-cover"
                                    />
                                </a>
                            </li>
                            <li class="mb-10">
                                <a
                                    href="video-watch.html"
                                    class="w-full md:h-44 h-28 overflow-hidden rounded-lg relative block"
                                >
                                    <img
                                        src="uploads/sponsors/7.png"
                                        alt=""
                                        class="w-full h-full absolute inset-0 object-cover"
                                    />
                                </a>
                            </li>
                            <li class="mb-10">
                                <a
                                    href="video-watch.html"
                                    class="w-full md:h-44 h-28 overflow-hidden rounded-lg relative block"
                                >
                                    <img
                                        src="uploads/sponsors/8.jpg"
                                        alt=""
                                        class="w-full h-full absolute inset-0 object-cover"
                                    />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- === SPONSORS - END === -->
    </div>

    <%- include('../includes/scripts/index.ejs') %>
  </body>
  </html>